body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}
section {
  padding-bottom: 150px;
}
.half-banner {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  float: left;
}
.half-banner h1 {
  font-size: 50px;
  font-weight: 600;
}
.half-banner p{
    color: grey;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.color-highlight {
  color: orange;
}
.half-banner img {
  width: 100%;
}
.half-banner a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, rgb(255, 153, 116), rgb(255, 107, 78));
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
.top-banner {
  height: 500px;
  background-image: url("developer-portfolio/top-banner.png");
  background-repeat: no-repeat;
  float: left;
  margin-top: -17px;
}

.half-banner h2 {
  font-size: 50px;
  font-weight: 500;
}
.big-dream {
  background-image: url("developer-portfolio/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  float: left;
}
.experience{
  float: left;
}
#Experience{
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 3px;
}
.single-expirience{
  box-shadow: 0px 0px 30px -10px black;
  height: 400px;
}
#full-stack{
  border-left: 7px solid;
  border-image: linear-gradient(#FF9F79, #FF6448);
  border-image-slice: 1;
}
#baby-web{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue,cyan);
  border-image-slice: 1;
}
footer{
  text-align: center;
  color: grey;
}



