body {
    font-family: Poppins, sans-serif;
    margin: 0%;
    padding: 0%;
  }
  section {
    height: 500px;
    padding-bottom: 150px;
  }
  .half-banner {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
  }
  .half-banner h1 {
    font-size: 50px;
    font-weight: 600;
  }
  .half-banner p{
      color: grey;
      line-height: 2rem;
      margin-bottom: 1rem;
  }
  .color-highlight {
    color: orange;
  }
  .half-banner img {
    width: 100%;
  }
  .half-banner a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, rgb(255, 153, 116), rgb(255, 107, 78));
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .top-banner {
    height: 500px;
    background-image: url("developer-portfolio/top-banner.png");
    background-repeat: no-repeat;
    float: left;
  }
  .half-banner h2 {
    font-size: 50px;
    font-weight: 500;
  }
  .big-dream {
    background-image: url("developer-portfolio/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    float: left;
  }
  .experience {
    font-weight: 600;
    float: left;
  }
  #Experience {
    font-size: 45px;
  }
  #full-stack{
    box-shadow: black 0px 0px 50px -10px;
    height: 80%;
    position: relative;
  }
  #baby-web{
    box-shadow: black 0px 0px 50px -10px;
    height: 80%;
    position: relative;
  }

#full-stack::before{
    content: "";
    background: linear-gradient(#0105FF, #01F8FF);
    height: 100%;
    width: 8px;
    position: absolute;
    left: 0;
    top: 0;
}
#baby-web::before{
    content: "";
    background: linear-gradient(#FFA07A, #FF6448);
    height: 100%;
    width: 8px;
    position: absolute;
    left: 0;
    top: 0;
}
footer{
      text-align: center;
      color: grey;
  }